---
import Layout from "../layouts/Layout.astro";

import HeroCarousal from "@components/molecules/HeroCarousal.astro";
import type { VideoSource } from "@components/molecules/HeroCarousal.astro";
import FeatureGrid from "@components/molecules/FeatureGrid.astro";
import CarouselTwo from "@components/molecules/CarouselTwo.astro";
import VideoBlock from "@components/molecules/VideoBlock.astro";
import FocusText from "@components/molecules/FocusText.astro";
import PaintedImage from "@components/atoms/PaintedImage.astro";
import AircraftsSection from "@components/AircraftsSection.astro";

import motorPropeller from "../assets/evtol_img/motor-propeller.jpg";
import frameArm from "../assets/evtol_img/frame-arm.jpg";
import mostavioPcb from "../assets/evtol_img/mostavio-pcb.jpg";

// Media v2
import BannerPlaceholder from "../assets/v2/aircrafts/Banner_Placeholder.png";

import {
	focusText1,
	focusText2,
	focusText3,
	// focusText4,
	featureContent,
	// featureContent2,
	mx1Banner,
	aeroBanner,
	ultralightBanner,
} from "../content/aircrafts";

let media: Array<string | VideoSource | ImageMetadata> = [BannerPlaceholder];
---

<Layout>
	<main class="space-y-28 sm:space-y-32 lg:space-y-36 pb-40 overflow-clip">
		<PaintedImage
			content={{
				tagline: "OUR EVTOL MODELS",
				header: "Commercial Solutions For <br> Modern Air Mobility",
			}}
			image={BannerPlaceholder}
			contentClass="top-1/4"
			alt="MOSTAVIO Banner"
		/>
		<AircraftsSection
			tagline="Introducing the Prototype"
			headline="THE MX1"
			description="Our next generation eVTOL prototype is designed to redefine\
                urban commuting. With seating for 2-3 passengers, MX1 combines\
                sleek design with AI-powered navigation, real-time collision\
                avoidance, and advanced safety systems."
		/>

		<AircraftsSection
			tagline="Personal Flight for Rural Exploration"
			headline="Ultralight"
			contentClass="md:flex-row-reverse"
			description="Designed for emergency response and rapid intervention.\
			 As a GOAERO Stage 1 Winner, Aeroguardian is built to meet the demands\
			 of high-stakes scenarios. With the ability to carry up to 160 kg, it\
			 ensures fast and safe transport of patients, organs, and life-saving\
			 supplies from remote or high-risk zones."
		/>

		<AircraftsSection
			tagline="Introducing the Prototype"
			headline="THE MX1"
			description="MOSTAVIO's Ultralight is a single passenger eVTOL designed for\
			 personal recreational use in rural environments. With a lightweight frame\
			 compliant with FAA Part 103 and Transport Canada ultralight standards, it offers\
			 a safe and simple solution for off-grid flight. Perfect for scenic flights and\
			 off-grid adventures."
		/>
		<!-- <FeatureGrid content={featureContent}
			><FocusText description={mx1Banner.description} /></FeatureGrid
		>
		<FeatureGrid content={featureContent} />
		<VideoBlock placeholderImage={frameArm} /> -->
		<FocusText
			header="Revolutionary Design"
			description="All MOSTAVIO eVTOL models feature a bold, angular design that merges innovative aesthetics with aerodynamic efficiency."
			headerShadow={true}
		/>
		<CarouselTwo />
		<FocusText
			header={focusText2.header}
			description={focusText2.description}
		/>
		<VideoBlock placeholderImage={motorPropeller} />
		<FocusText
			header={focusText3.header}
			description={focusText3.description}
			link="/aircrafts"
		/>
		<!-- <BentoGrid /> -->
		<!-- <FeatureGrid content={featureContent2} bordered /> -->
		<!-- <VideoBlock placeholderImage={mostavioPcb} /> -->
		<!-- <FocusText
			header={focusText4.header}
			description={focusText4.description}
			link="/aircrafts"
		/> -->
		<!-- <CarouselThree />
		<FocusText
			header={focusText5.header}
			description={focusText5.description}
			link="/aircrafts"
		/>
		<VideoBlock videoSrc={Video3} /> -->
		<!-- <NewsLetter /> -->
	</main>
</Layout>
