---
import Layout from "../layouts/Layout.astro";
import CallToAction from "../components/CallToAction.astro";
import BentoGrid from "@components/BentoGrid.astro";
import HeroCarousal from "@components/HeroCarousal.astro";
import type { VideoSource } from "@components/HeroCarousal.astro";
import FeatureGrid from "@components/FeatureGrid.astro";
import CarouselTwo from "@components/CarouselTwo.astro";
import CarouselThree from "@components/CarouselThree.astro";
import VideoBlock from "@components/VideoBlock.astro";
import FocusText from "@components/FocusText.astro";
import NewsLetter from "@components/NewsLetter.astro";

// Media
import Video3 from "../assets/hero_media/Cybertruck-Dopamine-On-Tap-Desktop.mp4";
// import FlightVideo from "../assets/hero_media/lilium.mp4";
// import flightVideoPlaceholder from "../assets/hero_media/lilium.png";
import slide01 from "../assets/evtol_img/HeroBgImage2.png";

import VideoPlaceholder from "../assets/evtol_img/Gear.png";
// import VideoPlaceholder2 from "../assets/evtol_img/parts.png";
import VideoPlaceholder3 from "../assets/evtol_img/circut_board.png";
import motorPropeller from "../assets/evtol_img/motor-propeller.jpg";
import frameArm from "../assets/evtol_img/frame-arm.jpg";
import mostavioPcb from "../assets/evtol_img/mostavio-pcb.jpg";

import BatteryIcon from "../assets/icons/Battery.png";
import SpeedIcon from "../assets/icons/Speed.png";
import TicketIcon from "../assets/icons/Ticket.png";
import ChargingStationIcon from "../assets/icons/ChargingStation.png";
import NaturalIcon from "../assets/icons/Natural.png";
import ChipIcon from "../assets/icons/Chip.png";

let media: Array<string | VideoSource | ImageMetadata> = [slide01];

let bannerContent = {
	header: "Introducing the Prototype",
	description:
		"Our revolutionary eVTOL prototype combines sleek design with cutting-edge technology to redefine personal air travel. Engineered for efficiency and safety, this aircraft is set to transform the way you commute.",
};

let featureContent = [
	{
		icon: SpeedIcon,
		header: "150 mph",
		preHeader: "Top Speed",
	},
	{
		icon: BatteryIcon,
		header: "200 miles",
		preHeader: "Maxiumum Range",
	},
	{
		icon: ChargingStationIcon,
		header: "30 min to full",
		preHeader: "Charging Time",
	},
	{
		icon: TicketIcon,
		header: "1 Passenger",
		preHeader: "Capacity",
	},
];

let featureContent2 = [
	{
		icon: ChipIcon,
		header: "Our cutting-edge eVTOL aircraft merges sleek design with advanced engineering. ",
	},
	{
		icon: NaturalIcon,
		header: "Our cutting-edge eVTOL aircraft merges sleek design with advanced engineering. ",
	},
	{
		icon: SpeedIcon,
		header: "Our cutting-edge eVTOL aircraft merges sleek design with advanced engineering. ",
	},
];

let focusText1 = {
	header: "Revolutionary Design",
	description:
		"Our eVTOL aircraft features an angular, geometric design that’s modern and sleek, ensuring both aesthetics and aerodynamics. \
		The carbon fiber exterior and Kevlar® battery cover guarantee durability and lightweight performance.",
};

let focusText2 = {
	header: "Advanced Materials",
	description:
		"Our commitment to innovation extends to the materials we use. The exterior is constructed from carbon fiber, known for its high \
		strength-to-weight ratio and durability. Inside, Kevlar® components provide additional safety and resilience. These advanced materials \
		not only enhance performance but also contribute to the aircraft's overall sustainability by reducing weight and improving efficiency.",
};

let focusText3 = {
	header: "Designed To Be Safe",
	description:
		"Safety is our top priority. Our eVTOL aircraft is equipped with a state-of-the-art autopilot system that ensures a smooth, stable flight \
		experience. The aircraft also features redundant systems, including multiple batteries and motors, to ensure maximum safety and reliability.",
};

let focusText4 = {
	header: "Sustainable Aviation",
	description:
		"Our eVTOL is designed with the environment in mind. Utilizing electric propulsion and sustainable materials, we aim to reduce \
		carbon footprints and noise pollution, promoting a cleaner and quieter urban environment.",
};

let focusText5 = {
	header: "Shipping Begins 2025",
	description:
		"Join the future of urban air mobility by preordering your MOSTAVIO eVTOL. Secure your place in line and be among the first to \
		experience the ultimate in personal transportation. Our eVTOL aircraft is priced at $250,000. Early adopters can enjoy special \
		financing options and priority delivery.",
};
---

<Layout>
	<main class="space-y-28 sm:space-y-32 lg:space-y-36 pb-40 overflow-clip">
		<HeroCarousal media={media} content={bannerContent} />
		<FeatureGrid content={featureContent} />
		<CallToAction
			description="Ships Early 2025"
			link="/aircraft"
			ctaLabel="Pre-Order"
		/>
		<VideoBlock placeholderImage={frameArm} />
		<FocusText
			header={focusText1.header}
			description={focusText1.description}
		/>
		<CarouselTwo />
		<FocusText
			header={focusText2.header}
			description={focusText2.description}
		/>
		<VideoBlock placeholderImage={motorPropeller} />
		<FocusText
			header={focusText3.header}
			description={focusText3.description}
			link="/aircraft"
		/>
		<BentoGrid />
		<FeatureGrid content={featureContent2} bordered />
		<VideoBlock placeholderImage={mostavioPcb} />
		<FocusText
			header={focusText4.header}
			description={focusText4.description}
			link="/aircraft"
		/>
		<CarouselThree />
		<FocusText
			header={focusText5.header}
			description={focusText5.description}
			link="/aircraft"
		/>
		<VideoBlock videoSrc={Video3} />
		<NewsLetter />
	</main>
</Layout>
