---
import Layout from "../layouts/Layout.astro";
import FocusText from "@components/molecules/FocusText.astro";
import FeatureGrid from "@components/molecules/FeatureGrid.astro";
import JobListing from "@components/JobListing.astro";
import OurTeam from "@components/OurTeam.astro";
import DynamicTimeline from "@components/DynamicTimeline.astro";
import PaintedImage from "@components/atoms/PaintedImage.astro";

import { featureContent, jobList } from "../content/company";

// v2 Assets
import BatteryBanner from "../assets/v2/company/Batteries_Placeholder.png";
import MostavioBillboard from "../assets/v2/company/MostavioBillboard.png";
---

<Layout>
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
		<PaintedImage
			image={BatteryBanner}
			alt="Battery Banner Mostavio"
			content={{
				tagline: "Where Innovation Takes Flight",
				header: "Reshaping urban air mobility through advanced eVTOL innovation",
			}}
			contentClass="text-left md:top-2/3 md:w-2/3 md:ml-32"
		/>
		<div id="about"></div>
		<FocusText
			description="Founded in Toronto in 2021, we specialize in next generation\
			 eVTOL solutions designed to transform urban mobility. With a focus on safety,\
			 sustainability, and intelligent design, our mission is to make personal air\
			 transportation more accessible, efficient, and environmentally responsible."
			containerClass="md:w-3/5 ml-auto my-64"
			contentClass="text-right"
		/>
		<FeatureGrid content={featureContent} />
		<PaintedImage
			image={MostavioBillboard}
			containerClass="h-80 md:h-[95vh]"
			imageClass="object-center"
			heightClass="h-80 md:h-[95vh]"
			alt="Company Billboard Mostavio"
		/>
		<DynamicTimeline />
		<OurTeam />
		<FocusText
			header="PARTNER WITH US"
			description="MOSTAVIO collaborates with leading investors, government agencies,\
			 and top-tier suppliers to advance our mission. Our strategic partnerships ensure\
			 we have the resources and expertise needed to bring our vision to life."
			headerClass="uppercase font-bold text-[#1c1c1c]"
			contentClass="text-left"
			headerShadow={false}
			buttonClass="justify-start"
			link="/partners"
		/>
		<JobListing content={jobList} />
	</main>
</Layout>
