---
import HeroCarousal from "@components/HeroCarousal.astro";
import type { VideoSource } from "@components/HeroCarousal.astro";
import Layout from "../layouts/Layout.astro";
import FocusText from "@components/FocusText.astro";
import Carousel from "@components/Carousel.astro";
import VideoBlock from "@components/VideoBlock.astro";
import LogoCloud from "@components/LogoCloud.astro";
import NewsLetter from "@components/NewsLetter.astro";

// Media
import Video1 from "../assets/hero_media/Cybertruck-Built-For-Any-Planet-Desktop.webm";
import Video2 from "../assets/hero_media/Cybertruck-Beyond-Prepared-Desktop.mp4";
import Video3 from "../assets/hero_media/Cybertruck-Dopamine-On-Tap-Desktop.mp4";
import Video4 from "../assets/hero_media/Cybertruck-Keep-the-Adventure-Going-Desktop.mp4";
import FlightVideo from "../assets/hero_media/lilium.mp4";
import Banner1 from "../assets/hero_media/Cybertruck-Built-For-Any-Planet-Desktop.png";
import Banner2 from "../assets/hero_media/Cybertruck-Beyond-Prepared-Desktop.png";
import Banner3 from "../assets/hero_media/Cybertruck-Dopamine-On-Tap-Desktop.png";
import Banner4 from "../assets/hero_media/Cybertruck-Keep-the-Adventure-Going-Desktop.png";
import BannerFlight from "../assets/hero_media/lilium.png";

import SpeedIcon from "../assets/icons/Speed.png";
import NaturalIcon from "../assets/icons/Natural.png";
import ChipIcon from "../assets/icons/Chip.png";
import FeatureGrid from "@components/FeatureGrid.astro";

let foucsText1 = {
	header: null,
	description:
		"At MOSTAVIO, we are at the forefront of urban transportation innovation. Our mission is to provide a seamless, eco-friendly, \
		and efficient air travel experience through groundbreaking electric Vertical Take-Off and Landing (eVTOL) technology. \
		Join us as we redefine the skies.",
};

let focusText2 = {
	header: "The Pinnacle of Air Travel",
	description:
		"Our cutting-edge eVTOL aircraft merges sleek design with advanced engineering. This single-seat eVTOL features a carbon fiber \
		exterior and a Kevlar®-reinforced battery cover. With top speeds of 150 mph and a range of 200 miles, it’s built for both speed and safety.",
	link: "/aircraft",
};

let focusText3 = {
	header: "Cut Your Commute Time Dramatically",
	description:
		"Imagine turning a 45-minute drive into a swift 10-minute flight. MostAvio's advanced eVTOL technology offers \
		unparalleled efficiency, allowing you to bypass traffic and reach your destination faster than ever. Experience \
		the freedom of urban air mobility and reclaim your valuable time.",
	link: "/aircraft",
};

let featureContent = [
	{
		icon: ChipIcon,
		header: "Our cutting-edge eVTOL aircraft merges sleek design with advanced engineering. ",
	},
	{
		icon: NaturalIcon,
		header: "Our cutting-edge eVTOL aircraft merges sleek design with advanced engineering. ",
	},
	{
		icon: SpeedIcon,
		header: "Our cutting-edge eVTOL aircraft merges sleek design with advanced engineering. ",
	},
];

let media: Array<string | VideoSource | ImageMetadata> = [
	{ src: Video1, poster: Banner2 },
	{ src: Video2, poster: Banner3 },
	{ src: Video3, poster: Banner4 },
	{ src: Video4, poster: Banner1 },
];
---

<Layout title="Welcome to MOSTAVIO.">
	<main class="space-y-28 sm:space-y-32 lg:space-y-36 pb-40 overflow-clip">
		<HeroCarousal media={media} />
		<FocusText
			header={foucsText1.header}
			description={foucsText1.description}
		/>
		<VideoBlock videoSrc={Video2} />
		<FocusText
			header={focusText2.header}
			description={focusText2.description}
			link={focusText2.link}
		/>
		<Carousel />
		<FocusText
			header={focusText2.header}
			description={focusText2.description}
			link={focusText2.link}
		/>
		<LogoCloud />
		<VideoBlock videoSrc={FlightVideo} />
		<FocusText
			header={focusText3.header}
			description={focusText3.description}
			link={focusText3.link}
		/>
		<FeatureGrid content={featureContent} bordered />
		<VideoBlock videoSrc={Video3} />
		<NewsLetter />
	</main>
</Layout>
