---
import Stats from "../components/Stats.astro";
import HeroSection from "../components/HeroSection.astro";
import HeroCarousal from "@components/HeroCarousal.astro";
import Layout from "../layouts/Layout.astro";
// import Testimonials from "../components/Testimonials.astro";
// import CallToAction from "../components/CallToAction.astro";
// import BentoGrid from "@components/BentoGrid.astro";
// import SpeedSection from "@components/SpeedSection.astro";
// import AboutSection from "@components/AboutSection.astro";
import FocusText from "@components/FocusText.astro";
import Carousel from "@components/Carousel.astro";
import VideoBlock from "@components/VideoBlock.astro";
import LogoCloud from "@components/LogoCloud.astro";

// Media
import Video1 from "../assets/videos/Cybertruck-Built-For-Any-Planet-Desktop.webm";
import Video2 from "../assets/videos/Cybertruck-Beyond-Prepared-Desktop.mp4";
import Video3 from "../assets/videos/Cybertruck-Dopamine-On-Tap-Desktop.mp4";
import Video4 from "../assets/videos/Cybertruck-Keep-the-Adventure-Going-Desktop.mp4";
import FlightVideo from "../assets/videos/lilium.mp4";

let foucsText1 = {
	header: null,
	description:
		"At MOSTAVIO, we are at the forefront of urban transportation innovation. Our mission is to provide a seamless, eco-friendly, and efficient air travel experience through groundbreaking electric Vertical Take-Off and Landing (eVTOL) technology. Join us as we redefine the skies.",
};

let focusText2 = {
	header: "The Pinnacle of Air Travel",
	description:
		"Our cutting-edge eVTOL aircraft merges sleek design with advanced engineering. This single-seat eVTOL features a carbon fiber exterior and a Kevlar®-reinforced battery cover. With top speeds of 150 mph and a range of 200 miles, it’s built for both speed and safety.",
	link: "/aircraft",
};

let media: Array<string> = [Video1, Video2, Video3, Video4];
---

<Layout title="Welcome to MOSTAVIO.">
	<main class="space-y-20 sm:space-y-32 lg:space-y-36 pb-40 overflow-clip">
		<HeroCarousal media={media} />
		<FocusText
			header={foucsText1.header}
			description={foucsText1.description}
		/>
		<VideoBlock videoSrc={Video2} />
		<FocusText
			header={focusText2.header}
			description={focusText2.description}
			link={focusText2.link}
		/>
		<Carousel />
		<FocusText
			header={focusText2.header}
			description={focusText2.description}
			link={focusText2.link}
		/>
		<LogoCloud />
		<VideoBlock videoSrc={FlightVideo} />
		<!-- <AboutSection />
		<BentoGrid />
		<SpeedSection />
		<Stats />
		<Testimonials />
		<CallToAction /> -->
	</main>
</Layout>
