---
import HeroCarousal from "@components/HeroCarousal.astro";
import type { VideoSource } from "@components/HeroCarousal.astro";
import Layout from "../layouts/Layout.astro";
import FocusText from "@components/FocusText.astro";
import Carousel from "@components/Carousel.astro";
import VideoBlock from "@components/VideoBlock.astro";
// import LogoCloud from "@components/LogoCloud.astro";
import NewsLetter from "@components/NewsLetter.astro";

// Media
import mostiavioBannerVid from "../assets/hero_media/mostavio-banner.mp4";
import mostavioSecondVid from "../assets/hero_media/mostavio-secondary-banner.mp4";
import Video3 from "../assets/hero_media/Cybertruck-Dopamine-On-Tap-Desktop.mp4";
// import FlightVideo from "../assets/hero_media/lilium.mp4";
// import flightVideoPlaceholder from "../assets/hero_media/lilium.png";

import mostavioViewRight from "../assets/evtol_img/mostavio-view-right.jpeg";
import VideoPlaceholder2 from "../assets/evtol_img/interiorCover.png";

import NaturalIcon from "../assets/icons/Natural.png";
import ChipIcon from "../assets/icons/Chip.png";
import PaperPlain from "../assets/icons/paper-plane.svg";
import FeatureGrid from "@components/FeatureGrid.astro";

let foucsText1 = {
	header: null,
	description:
		"At MOSTAVIO, we are at the forefront of urban transportation innovation. Our mission is to provide a seamless, eco-friendly, \
		and efficient air travel experience through groundbreaking electric Vertical Take-Off and Landing (eVTOL) technology. \
		Join us as we redefine the skies.",
};

let focusText2 = {
	header: "A New Era in Urban Mobility",
	description: [
		"MOSTAVIO envisions a future where air travel isn't just for airports or long distances. With our innovative 2-3 passenger eVTOL (electric Vertical Take-Off and Landing) aircraft, we’re making short-range air mobility accessible, sustainable, and practical. \
		Our mission is simple: to create smarter, greener ways to navigate cities and suburbs, while setting a new standard for safe and efficient air transportation.",
	],
	link: "/aircraft",
};
let focusText3 = {
	header: "Mastering the Art of Autonomous Flight",
	description:
		"Our eVTOL showcases the evolution of self-piloted aircraft, blending advanced technology with precision design. Focused on systems like AI-powered navigation, real-time collision avoidance, and extensive safety redundancies, it highlights how these innovations are shaping the future of aviation. \
		With applications in transportation, logistics, and urban mobility, this resource explores the balance between efficiency, reliability, and regulatory progress in autonomous flight.",
	link: "/aircraft",
};

let focusText4 = {
	header: "Safety. Simplicity. Sustainability.",
	// description: [
	// 	"<p>Innovation means nothing without trust. That’s why safety drives everything we do at MOSTAVIO. Our aircraft is equipped with cutting-edge systems that prioritize both passengers and the environment:</p> \
	// 	<ul class='list-disc text-left ml-8 md:ml-16'> \
	// 		<li><span class='font-bold'>Simplicity Through First-Principle Design:</span> Every system is built around what works, eliminating unnecessary complexity to create a seamless, intuitive, and reliable flight experience.</li> \
	// 		<li><span class='font-bold'>Extensive Redundancy Systems:</span> From backup power systems to fail-safe controls, our aircraft ensures continuous operation even in the rare case of component failure.</li> \
	// 		<li><span class='font-bold'>Sustainability with Zero Emissions:</span> Powered entirely by electric energy, MOSTAVIO’s eVTOL operates without producing emissions, making it a cleaner choice for the environment and urban airspaces.</li> \
	// 	</ul> \
	// 	<p>We’re not just developing eVTOLs; we’re creating a new benchmark for safe and responsible urban aviation.</p>",
	// ],
	link: "/aircraft",
};

let featureContent = [
	{
		icon: ChipIcon,
		header: "Simplicity Through First-Principle Design",
		description:
			"Every system is built around what works, eliminating unnecessary complexity to create a seamless, intuitive, and reliable flight experience.",
	},
	{
		icon: NaturalIcon,
		header: "Extensive Redundancy Systems",
		description:
			"From backup power systems to fail-safe controls, our aircraft ensures continuous operation even in the rare case of component failure.",
	},
	{
		icon: PaperPlain,
		header: "Sustainability with Zero Emissions",
		description:
			"Powered entirely by electric energy, MOSTAVIO’s eVTOL operates without producing emissions, making it a cleaner choice for the environment and urban airspaces.",
	},
];

let focusText5 = {
	header: "Cut Your Commute Time Dramatically",
	description:
		"Imagine turning a 45-minute drive into a swift 10-minute flight. MOSTAVIO's advanced eVTOL technology offers \
		unparalleled efficiency, allowing you to bypass traffic and reach your destination faster than ever. Experience \
		the freedom of urban air mobility and reclaim your valuable time.",
	link: "/aircraft",
};

// let featureContent = [
// 	{
// 		icon: ChipIcon,
// 		header: "Our eVTOL aircraft feature smart chips for seamless and safe flights.",
// 	},
// 	{
// 		icon: NaturalIcon,
// 		header: "Built with sustainable materials and zero-emission technology, our eVTOL is kind to the planet.",
// 	},
// 	{
// 		icon: PaperPlain,
// 		header: "Experience rapid, efficient travel with our high-speed eVTOL aircraft.",
// 	},
// ];

// let media: Array<string | VideoSource | ImageMetadata> = [
// 	{ source: Video1, poster: Banner2 }, // `src` collides with ImageMetadata
// 	{ source: Video2, poster: Banner3 },
// 	{ source: Video3, poster: Banner4 },
// 	{ source: Video4, poster: Banner1 },
// ];
let media: Array<string | VideoSource | ImageMetadata> = [mostiavioBannerVid];
---

<Layout>
	<main class="space-y-28 sm:space-y-32 lg:space-y-36 pb-40 overflow-clip">
		<HeroCarousal media={media} />
		<FocusText
			header={foucsText1.header}
			description={foucsText1.description}
		/>
		<!-- <LogoCloud /> -->
		<VideoBlock videoSrc={mostavioSecondVid} />
		<FocusText
			header={focusText2.header}
			description={focusText2.description}
			link={focusText2.link}
		/>
		<Carousel />
		<FocusText
			header={focusText3.header}
			description={focusText3.description}
			link={focusText3.link}
		/>
		<VideoBlock placeholderImage={VideoPlaceholder2} />
		<FocusText header={focusText4.header} link={focusText4.link}>
			<FeatureGrid content={featureContent} />
		</FocusText>

		<!-- <VideoBlock videoSrc={FlightVideo} /> -->
		<FocusText
			header={focusText5.header}
			description={focusText5.description}
			link={focusText3.link}
		/>
		<VideoBlock videoSrc={Video3} placeholderImage={mostavioViewRight} />
		<NewsLetter />
	</main>
</Layout>
