---
import Layout from "../layouts/Layout.astro";
import FocusText from "@components/molecules/FocusText.astro";

import AircraftsSliderSection from "@components/AircraftsSliderSection.astro";
import SkyTechSection from "@components/SkyTechSection.astro";
import LatestNews from "@components/LatestNews.astro";
import PaintedImage from "@components/atoms/PaintedImage.astro";

import FeatureCards from "@components/FeatureCards.astro";
import { Image } from "astro:assets";

// Media V2
import TeamPic from "../assets/v2/home/TeamPic.png";
import TeamPic2 from "../assets/v2/home/TeamPic2.png";
import SkyTechDrone from "../assets/v2/home/SkyTechDrone.jpg";
import MostavioSmokeBG from "../assets/v2/home/MostavioSmokeBG.png";
import EvtolOnly from "../assets/v2/home/EvtolOnly.png";
import AVBadgeVertical from "../assets/v2/AV_TransparentBadgeVertical.png";
---

<Layout>
	<main class="space-y-32 lg:space-y-38 pb-40 overflow-clip">
		<PaintedImage
			image={MostavioSmokeBG}
			alt="Mostavio Smoke Banner"
			content={{
				tagline: "Experience the Future of Flight",
				header: "Transforming Urban Air Mobility With Next-Generation eVTOL Technology",
			}}
			pattern={false}
			containerClass="relative h-96 md:h-[100vh]"
			imageClass="absolute z-[1]"
			contentClass="text-left top-1/4 z-[4]"
			heightClass="h-96 md:h-[100vh]"
			headerClass="md:w-4/6"
		>
			<Fragment slot="overlay">
				<Image
					src={EvtolOnly}
					alt="Mostavio Evtol Banner"
					class="absolute h-96 md:h-[100vh] object-cover object-center z-[3]"
				/>
				<Image
					src={AVBadgeVertical}
					alt="Pattern overlay"
					class="absolute object-contain z-[2] h-32 md:h-96 opacity-50 bottom-1/4 right-0"
				/>
			</Fragment>
		</PaintedImage>

		<FocusText
			tagline="Elevate. Electrify. Explore."
			description="At MOSTAVIO, we are at the forefront of urban transportation innovation.\
			 Our mission is to provide a seamless, eco-friendly, and efficient air travel experience\
			 through electric Vertical Take-Off and Landing (eVTOL) technology.\
			 Join us as we redefine the skies."
			containerClass="md:w-3/5 ml-auto mt-32 mb-96"
			contentClass="text-right"
		/>
		<PaintedImage
			image={TeamPic}
			imageClass="object-top"
			alt="MOSTAVIO Team Work Candid"
		/>
		<AircraftsSliderSection />
		<PaintedImage image={TeamPic2} alt="MOSTAVIO Team Work" />

		<FeatureCards />
		<SkyTechSection image={SkyTechDrone} />
		<LatestNews />
	</main>
</Layout>
