---
import Layout from "../layouts/Layout.astro";
import HeroCarousal from "@components/HeroCarousal.astro";
import { getCollection } from "astro:content";
import MarkdownRender from "@components/MarkdownRender.astro";

// Media
import slide01 from "../assets/hero_media/image_32.png";
import Newsletter from "@components/NewsLetter.astro";
import FocusText from "@components/FocusText.astro";
import Carousel from "@components/Carousel.astro";
import FeatureGrid from "@components/FeatureGrid.astro";
import LogoCloud from "@components/LogoCloud.astro";
import ImageText from "@components/ImageText.astro";

let media: Array<string | ImageMetadata> = [slide01];
let bannerContent = {
    header: "Investing in MostAvio",
    description: "",
};

let focusText = {
    header: "Investor Overview",
    subheader: "Why Invest in MostAvio?",
    description:
        "MostAvio is leading the charge in the eVTOL industry, combining \
        groundbreaking technology with a commitment to sustainability. Our innovative \
        approach to urban air mobility positions us at the forefront of a rapidly growing market, \
        offering substantial opportunities for investors.",
};
let focusText2 = {
    subheader: "Current Funding Round",
    description:
        "We are currently in our Series B funding round, having successfully secured $50 million to \
        date. This round focuses on accelerating our development and testing phases, ensuring we bring \
        our eVTOL aircraft to market efficiently.",
    link: "/invest",
};

let focusText3 = {
    description:
        "MostAvio has established key partnerships with industry leaders, government agencies, \
        and technology innovators. These collaborations enhance our technological \
        capabilities and expand our market reach, driving growth and value for our investors.",
};

let featureContent = [
    {
        header: "$200M",
        headerClass: "text-4xl mb-5",
        description: "Valuation",
    },
    {
        header: "$20M",
        headerClass: "text-4xl mb-5",
        description: "Seriese A Funding",
    },
    {
        header: "$500M",
        headerClass: "text-4xl mb-5",
        description: "Revenue Projections for 2025",
    },
];

const allReports = await getCollection("reports");
---

<Layout title="Welcome to MOSTAVIO.">
    <main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
        <HeroCarousal media={media} content={bannerContent} />
        <FocusText {...focusText} />
        <FocusText {...focusText2} />
        <Carousel />
        <FeatureGrid content={featureContent} bordered />
        <FocusText {...focusText3} />
        <LogoCloud />
        <div class="prose lg:prose-xl">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                {
                    allReports.map((entry) => (
                        <div id={entry.slug}>
                            <h2 class=" text-gray-800 dark:text-white">
                                {entry.data.title}
                            </h2>
                            <img src={entry.data.thumbnail} />
                            {entry.data.date && <p>{entry.data.date}</p>}
                            <MarkdownRender entry={entry} />
                            <a class="text-blue-500" href={entry.data.link}>
                                Read more
                            </a>
                        </div>
                    ))
                }
            </div>
        </div>
        <Newsletter />
    </main>
</Layout>
