---
import Layout from "../layouts/Layout.astro";
// import CallToAction from "../components/CallToAction.astro";
// import BentoGrid from "@components/BentoGrid.astro";
import HeroCarousal from "@components/HeroCarousal.astro";
import type { VideoSource } from "@components/HeroCarousal.astro";
import FeatureGrid from "@components/FeatureGrid.astro";
import CarouselTwo from "@components/CarouselTwo.astro";
// import CarouselThree from "@components/CarouselThree.astro";
import VideoBlock from "@components/VideoBlock.astro";
import FocusText from "@components/FocusText.astro";
import NewsLetter from "@components/NewsLetter.astro";

// Media
import Video3 from "../assets/hero_media/Cybertruck-Dopamine-On-Tap-Desktop.mp4";
// import FlightVideo from "../assets/hero_media/lilium.mp4";
// import flightVideoPlaceholder from "../assets/hero_media/lilium.png";

// import slide01 from "../assets/evtol_img/HeroBgImage2.png";
// import VideoPlaceholder from "../assets/evtol_img/Gear.png";
// import VideoPlaceholder2 from "../assets/evtol_img/parts.png";
// import VideoPlaceholder3 from "../assets/evtol_img/circut_board.png";
import aircraftBanner from "../assets/hero_media/aircraft-banner.jpg";

import motorPropeller from "../assets/evtol_img/motor-propeller.jpg";
import frameArm from "../assets/evtol_img/frame-arm.jpg";
import mostavioPcb from "../assets/evtol_img/mostavio-pcb.jpg";

import {
	focusText1,
	focusText2,
	focusText3,
	// focusText4,
	featureContent,
	// featureContent2,
	bannerContent,
} from "../content/models";

let media: Array<string | VideoSource | ImageMetadata> = [aircraftBanner];
---

<Layout>
	<main class="space-y-28 sm:space-y-32 lg:space-y-36 pb-40 overflow-clip">
		<HeroCarousal media={media} content={bannerContent} />
		<FeatureGrid content={featureContent} />
		<VideoBlock placeholderImage={frameArm} />
		<FocusText
			header={focusText1.header}
			description={focusText1.description}
		/>
		<CarouselTwo />
		<FocusText
			header={focusText2.header}
			description={focusText2.description}
		/>
		<VideoBlock placeholderImage={motorPropeller} />
		<FocusText
			header={focusText3.header}
			description={focusText3.description}
			link="/models"
		/>
		<!-- <BentoGrid /> -->
		<!-- <FeatureGrid content={featureContent2} bordered /> -->
		<VideoBlock placeholderImage={mostavioPcb} />
		<!-- <FocusText
			header={focusText4.header}
			description={focusText4.description}
			link="/models"
		/> -->
		<!-- <CarouselThree />
		<FocusText
			header={focusText5.header}
			description={focusText5.description}
			link="/models"
		/>
		<VideoBlock videoSrc={Video3} /> -->
		<NewsLetter />
	</main>
</Layout>
