---
import Layout from "../../layouts/Layout.astro";
import NewsLetter from "@components/NewsLetter.astro";
import MarkdownRender from "@components/MarkdownRender.astro";
import { getEntry } from "astro:content";

const slug = await Astro.params.slug;
const post = await getEntry("posts", slug || "");
---

<Layout title="MOSTAVIO - News and Updates">
    <main class="space-y-28 sm:space-y-32 lg:space-y-36 pb-40 overflow-clip">
        <article
            class="relative overflow-hidden scroll-mt-24 bg-gradient-default"
            id="news"
        >
            {
                post && (
                    <div class="prose lg:prose-xl">
                        <h3>{post.data.header}</h3>
                        <div class="inline-flex">
                            <p>{post.data.date}</p>
                            {post.data.tags &&
                                post.data.tags.length > 0 &&
                                post.data.tags.map((tag) => (
                                    <span class="m-auto ml-5 text-amber-600">
                                        #{tag}&nbsp;{" "}
                                    </span>
                                ))}
                        </div>
                        {post.data?.coverImage && (
                            <div class="relative overflow-hidden rounded-xl">
                                <img
                                    src={post.data?.thumbnail}
                                    alt={`Cover for ${post.data.header}`}
                                    loading="lazy"
                                    class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
                                />
                            </div>
                        )}
                        <MarkdownRender entry={post} />
                    </div>
                )
            }
            <NewsLetter />
        </article>
    </main>
</Layout>
