---
// import BrandIcon from "./BrandIcon.astro";
import Container from "./Container.astro";
import {
  internalLinks,
  companyLinks,
  policyLinks,
  externalLinks,
  phoneNumber,
  phoneIconSvg,
  emailAddress,
  emailIconSvg,
} from "../consts.ts";
import { Image } from "astro:assets";
import Container from "./Container.astro";
import LogoWhite from "../assets/Logo_White.png";

type Link = {
  title: string;
  url: string;
};

const currentYear = new Date().getFullYear();
---

<footer class="pb-6 sm:pb-12 lg:pb-20">
  <div
    class="p-6 mx-auto w-full sm:p-12 border-b border-gray-800 dark:border-white"
  >
    <Container>
      <div class="flex justify-between gap-4">
        <Image
          src={LogoWhite}
          alt="MOSTAVIO logo"
          class="h-12 w-auto py-1"
          loading="lazy"
        />
        <div
          class="flex flex-wrap gap-1 overflow-hidden text-gray-700 dark:text-gray-300"
        >
          © {currentYear}, MOSTAVIO Inc.<br /> All rights reserved.
        </div>
      </div>
    </Container>
  </div>

  <Container>
    <div class="mt-12 mb-6 flex justify-between gap-4">
      <div>
        <span class="text-gray-950 dark:text-white font-medium">Links</span>
        <ul class="mt-6 space-y-2">
          {
            internalLinks.map((link: Link) => (
              <li>
                <a
                  href={link.url}
                  class="text-gray-600 dark:text-gray-400 transition hover:text-primary-600 dark:hover:text-primary-400"
                >
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <span class="text-gray-950 dark:text-white font-medium">Company</span>
        <ul class="mt-6 space-y-2">
          {
            companyLinks.map((link: Link) => (
              <li>
                <a
                  href={link.url}
                  class="text-gray-600 dark:text-gray-400 transition hover:text-primary-600 dark:hover:text-primary-400"
                >
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <span class="text-gray-950 dark:text-white font-medium">Community</span>
        <ul class="mt-6 space-y-2">
          {
            policyLinks.map((link: Link) => (
              <li>
                <a
                  href={link.url}
                  class="text-gray-600 dark:text-gray-400 transition hover:text-primary-600 dark:hover:text-primary-400"
                >
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div
      class="mt-9 text-gray-950 flex flex-col md:flex-row dark:text-white flex justify-between items-center"
    >
      <div class="flex gap-4 mb-3">
        {
          externalLinks.map((item, index) => (
            <a
              href={item?.url}
              target="_blank"
              class="relative align-middle select-none hover:text-stone-400"
              type="button"
            >
              <Fragment set:html={item?.icon} />
            </a>
          ))
        }
      </div>
      <div class="mb-2">
        <a href={`mailto:${emailAddress}`} class="flex items-center gap-2">
          <Fragment set:html={emailIconSvg} />
          <span class="text-gray-600 dark:text-gray-400">{emailAddress}</span>
        </a>
      </div>
      <div class="text-right mb-2">
        <a href=`tel:${phoneNumber}` class="flex items-center gap-1"
          ><Fragment set:html={phoneIconSvg} />
          <span class="text-gray-600 dark:text-gray-400">{phoneNumber}</span></a
        >
      </div>
    </div>
  </Container>
</footer>
