---
import { Image } from "astro:assets";
import slide01 from "../assets/slides/image_35.png";
import slide02 from "../assets/slides/image_36.png";
import slide03 from "../assets/slides/image_38.png";
---

<section>
    <div class="swiper container">
        <div class="swiper-wrapper">
            <div class="swiper-slide h-96 w-auto">
                <Image
                    class="h-96 w-auto object-cover"
                    src={slide01}
                    alt=""
                    loading="lazy"
                />
            </div>
            <div class="swiper-slide">
                <Image
                    class="h-96 w-auto object-cover"
                    src={slide02}
                    alt="Carousal Image"
                    loading="lazy"
                />
            </div>
            <div class="swiper-slide">
                <Image
                    class="h-96 w-auto object-cover"
                    src={slide03}
                    alt="Carousal Image"
                    loading="lazy"
                />
            </div>
            <div class="swiper-slide max-h-96">
                <Image
                    class="h-96 w-auto object-cover"
                    src={slide02}
                    alt="Carousal Image"
                    loading="lazy"
                />
            </div>
            <div class="swiper-slide">
                <Image
                    class="h-96 w-auto object-cover"
                    src={slide03}
                    alt="Carousal Image"
                    loading="lazy"
                />
            </div>
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button swiper-button-prev"></div>
        <div class="swiper-button swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>
    </div>
</section>

<style is:global>
    .swiper-button::after {
        font-size: 32px;
        color: rgb(215, 119, 22);
    }
    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        background: #fff;
        opacity: 0.5;
    }
</style>

<script>
    import Swiper from "swiper";
    import { Navigation, Pagination } from "swiper/modules";
    import "swiper/css/bundle";

    export const swiperConfig = {
        modules: [Navigation, Pagination],
        loop: true,
        slidesPerView: 3,
        mousewheel: {
            forceToAxis: true,
        },
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        scrollbar: {
            el: ".swiper-scrollbar",
        },
    };

    const swiper = new Swiper(".swiper", swiperConfig);
</script>
