---
import { Image } from "astro:assets";
import ImageBorderDots from "./ImageBorderDots.astro";

import slidea from "../assets/aircraft_slides/slidea.png";
import slideb from "../assets/aircraft_slides/slideb.png";
import slide3 from "../assets/slides/propeller.png";

const swiperSlideClasses =
    "swiper-slide relative w-auto rounded-md bg-gray-950/5 backdrop-blur-2xl ring-1 ring-gray-950/10 dark:ring-gray-950/25 border border-white/50 dark:bg-white/5 dark:border-white/5";
---

<section>
    <div class="swiper container">
        <div class="swiper-wrapper">
            <div class={swiperSlideClasses}>
                <Image
                    class="h-[30rem] object-cover object-center rounded-md"
                    src={slidea}
                    alt="Carousal Image"
                    loading="lazy"
                />
                <ImageBorderDots />
            </div>
            <div class={swiperSlideClasses}>
                <Image
                    class="h-[30rem] object-cover object-center rounded-md"
                    src={slideb}
                    alt="Carousal Image"
                    loading="lazy"
                />
                <ImageBorderDots />
            </div>
            <div class={swiperSlideClasses}>
                <Image
                    class="h-[30rem] object-cover object-center rounded-md"
                    src={slide3}
                    alt=""
                    loading="lazy"
                />
                <ImageBorderDots />
            </div>
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button swiper-button-prev"></div>
        <div class="swiper-button swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>
    </div>
</section>

<!-- <style is:global>

</style> -->

<script>
    import Swiper from "swiper";
    import { Navigation, Pagination } from "swiper/modules";
    import "swiper/css/bundle";

    export const swiperConfig = {
        modules: [Navigation, Pagination],
        loop: true,
        mousewheel: {
            forceToAxis: true,
        },
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        scrollbar: {
            el: ".swiper-scrollbar",
        },
        breakpoints: {
            // when window width is >= 640px
            640: {
                slidesPerView: 1,
            },
            768: {
                slidesPerView: 2,
            },
        },
    };

    const swiper = new Swiper(".swiper", swiperConfig);
</script>
