---
import { Image } from "astro:assets";
import ImageBorderDots from "./ImageBorderDots.astro";

import slide1 from "../assets/slides/carousel-2-left.jpg";
import slide2 from "../assets/slides/carousel-2-middle.jpg";
import slide3 from "../assets/slides/carousel-2-third.jpg";

const swiperSlideClasses =
    "swiper-slide relative w-auto rounded-md bg-gray-950/5 backdrop-blur-2xl ring-1 ring-gray-950/10 dark:ring-gray-950/25 border border-white/50 dark:bg-white/5 dark:border-white/5";
---

<section>
    <div class="swiper container">
        <div class="swiper-wrapper">
            <div class={swiperSlideClasses}>
                <Image
                    class="h-96 object-center rounded-md"
                    src={slide1}
                    alt="Carousal Image"
                    loading="lazy"
                />
                <ImageBorderDots />
            </div>
            <div class={swiperSlideClasses}>
                <Image
                    class="h-96 object-center rounded-md"
                    src={slide2}
                    alt="Carousal Image"
                    loading="lazy"
                />
                <ImageBorderDots />
            </div>
            <div class={swiperSlideClasses}>
                <Image
                    class="h-96 object-center rounded-md"
                    src={slide3}
                    alt=""
                    loading="lazy"
                />
                <ImageBorderDots />
            </div>
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button swiper-button-prev"></div>
        <div class="swiper-button swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>
    </div>
</section>

<!-- <style is:global>

</style> -->

<script>
    import Swiper from "swiper";
    import { Navigation, Pagination } from "swiper/modules";
    import "swiper/css/bundle";

    export const swiperConfig = {
        modules: [Navigation, Pagination],
        loop: true,
        slidesPerView: 3,
        mousewheel: {
            forceToAxis: true,
        },
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        scrollbar: {
            el: ".swiper-scrollbar",
        },
    };

    const swiper = new Swiper(".swiper", swiperConfig);
</script>
