---
import Container from "./molecules/Container.astro";
import Headline from "./atoms/Headline.astro";
import CircuitBoard from "../assets/v2/home/CircuitBoard_Card.jpg";
import Propeller from "../assets/v2/home/Propeller_Card.jpg";
import SeatRender from "../assets/v2/home/SeatRender_Card.png";
import { undefined } from "astro:schema";

const cards = [
    {
        header: "Simplicity Through First-Principle Design",
        thumbnail: SeatRender.src,
        intro: "Every system is built around what works, eliminating unnecessary complexity to create a seamless, intuitive, and reliable flight experience.",
        link: null,
    },
    {
        header: "Extensive Redundancy Systems",
        thumbnail: CircuitBoard.src,
        intro: "From backup power systems to fail-safe controls, our aircraft ensures continuous operation even in the rare case of component failure.",
    },
    {
        header: "Sustainability with Zero Emissions",
        thumbnail: Propeller.src,
        intro: "Powered entirely by electric energy, MOSTAVIO's eVTOL operates without producing emissions, making it a cleaner choice for the environment and urban airspaces.",
    },
];
---

<section class="relative mt-48 scroll-mt-24">
    <Container>
        <Headline
            className="text-center uppercase"
            headline="Designed For Impact"
        />
        <p class="my-12 text-center">
            At MOSTAVIO, our eVTOLs are crafted to the highest standards of
            innovation, safety, and performance. This dedication has earned us
            international recognition, including the Red Dot Design Award, Muse
            Design Awards, and selection by GoAero as a visionary in advanced
            air mobility.
        </p>

        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 my-32">
            {
                cards.map((post, index) => (
                    <div
                        id={index.toString()}
                        class={`group p-6 sm:p-8 rounded-3xl bg-gradient-to-b from-transparent via-transparent to-stone-950 shadow-2xl shadow-gray-600/10 relative overflow-hidden ${index % 2 === 1 ? "mt-24 -mb-24" : ""}`}
                    >
                        <div class="relative z-10">
                            {post?.thumbnail && (
                                <div class="relative overflow-hidden rounded-xl">
                                    <img
                                        src={post?.thumbnail}
                                        alt={`Thumbnail for ${post.header}`}
                                        loading="lazy"
                                        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
                                    />
                                </div>
                            )}
                            <div class="mt-6 relative text-center">
                                {post?.link ? (
                                    <a href={`/${post.link}`}>
                                        <h3 class="text-2xl font-semibold text-white transition-colors">
                                            {post?.header}
                                        </h3>
                                    </a>
                                ) : (
                                    <h3 class="text-2xl font-semibold text-white">
                                        {post?.header}
                                    </h3>
                                )}
                                <p class="mt-2 text-gray-400">{post?.intro}</p>
                                {post?.link && (
                                    <a
                                        class="inline-block mt-3 text-blue-300 hover:text-blue-200 transition-colors"
                                        href={`/${post.link}`}
                                    >
                                        Read more →
                                    </a>
                                )}
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </Container>
</section>
