---
import { Image } from "astro:assets";
import Ontario from "../assets/partners/ontario.png";
import Openai from "../assets/partners/openai.png";
import Figma from "../assets/partners/figma.png";
import Braille from "../assets/partners/braille.png";
import AutoDes from "../assets/partners/autodes.svg";
import Airbus from "../assets/partners/airbus.svg";
import Honeywell from "../assets/partners/honeywell.svg";
---

<section class="py-16 text-gray-800 dark:text-white">
    <div class="mb-8">
        <h6 class="text-lg text-center font-bold opacity-50">
            Strategic Partners
        </h6>
    </div>
    <div
        class="m-auto
        py-12
        space-y-8
        border-y-2
        px-6
        md:px-12
        lg:px-40"
    >
        <div class="scrollbar-transparent overflow-x-auto lg:overflow-hidden">
            <div
                class="-mx-6 flex space-x-6 px-6 md:space-x-12 lg:justify-between"
            >
                <Image
                    src={Ontario}
                    loading="lazy"
                    class="h-14 w-auto transition"
                    alt="logo"
                />
                <Image
                    src={Honeywell}
                    loading="lazy"
                    class="h-12 w-auto transition"
                    alt="logo"
                />
                <Image
                    src={AutoDes}
                    loading="lazy"
                    class="h-10 w-auto transition"
                    alt="logo"
                />
                <Image
                    src={Airbus}
                    loading="lazy"
                    class="h-10 w-auto transition"
                    alt="logo"
                />
                <Image
                    src={Figma}
                    loading="lazy"
                    class="h-12 w-auto transition"
                    alt="logo"
                />
            </div>
        </div>
    </div>
</section>
