---
import Container from "./Container.astro";
import {
  internalLinks,
  companyLinks,
  policyLinks,
  externalLinks,
  phoneNumber,
  phoneIconSvg,
  emailAddress,
  emailIconSvg,
} from "../../consts.ts";
import { Image } from "astro:assets";
import LogoWhite from "../../assets/Logo_White.png";

type Link = {
  title: string;
  url: string;
  target?: string;
};

const currentYear = new Date().getFullYear();
---

<footer class="pb-6 sm:pb-12 lg:pb-20">
  <div class="py-6 md:p-6 mx-auto w-full sm:p-12 border-b">
    <Container>
      <div
        class="flex flex-col sm:flex-row justify-between items-start sm:items-start gap-4"
      >
        <Image
          src={LogoWhite}
          alt="MOSTAVIO logo"
          class="h-7 md:h-12 w-auto py-1"
          loading="lazy"
        />
        <div
          class="text-center sm:text-right text-gray-400 text-sm md:text-base"
        >
          <span class="whitespace-nowrap">© {currentYear}, MOSTAVIO Inc</span>
          <br class="hidden sm:inline" />
          <span class="sm:ml-1">All rights reserved.</span>
        </div>
      </div>
    </Container>
  </div>

  <Container>
    <div class="mt-12 mb-6 flex flex-col md:flex-row justify-between gap-4">
      <div class="my-6">
        <span class="font-medium">Links</span>
        <ul class="mt-2 md:mt-4 space-y-2">
          {
            internalLinks.map((link: Link) => (
              <li>
                <a
                  href={link.url}
                  target={link?.target}
                  class="text-gray-400 transition hover:text-primary-600 dark:hover:text-primary-400"
                >
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="my-6">
        <span class="font-medium">Company</span>
        <ul class="mt-2 md:mt-4 space-y-2">
          {
            companyLinks.map((link: Link) => (
              <li>
                <a
                  href={link.url}
                  class="text-gray-400 transition hover:text-primary-600 dark:hover:text-primary-400"
                >
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="my-6">
        <span class="font-medium">Community</span>
        <ul class="mt-2 md:mt-4 space-y-2">
          {
            policyLinks.map((link: Link) => (
              <li>
                <a
                  href={link.url}
                  class="text-gray-400 transition hover:text-primary-600 dark:hover:text-primary-400"
                >
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div
      class="my-8 flex flex-col md:flex-row justify-between md:items-center gap-6 md:gap-0"
    >
      <div class="flex-shrink-0">
        <a
          href={`mailto:${emailAddress}`}
          class="flex items-center gap-2 hover:text-stone-400 transition-colors"
        >
          <Fragment set:html={emailIconSvg} />
          <span class="text-gray-400">{emailAddress}</span>
        </a>
      </div>

      <div class="flex-shrink-0">
        <a
          href={`tel:${phoneNumber}`}
          class="flex items-center gap-2 hover:text-stone-400 transition-colors"
        >
          <Fragment set:html={phoneIconSvg} />
          <span class="text-gray-400">{phoneNumber}</span>
        </a>
      </div>

      <div class="flex gap-4">
        {
          externalLinks.map((item, index) => (
            <a
              href={item?.url}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-center hover:text-stone-400 transition-colors"
              aria-label={`Visit ${item?.name || "external link"}`}
            >
              <Fragment set:html={item?.icon} />
            </a>
          ))
        }
      </div>
    </div>
  </Container>
</footer>
