---
const {
    className,
    src,
    alt = "Mostavio Evtol Model",
    height = "60vh",
} = Astro.props;
---

<div class={className}>
    <model-viewer
        id="model-viewer"
        src={src}
        alt={alt}
        class={className}
        ar
        ar-modes="webxr scene-viewer quick-look"
        camera-controls
        disable-zoom
        touch-action="pan-y"
        loading="eager"
        shadow-intensity="1"
        style={`width: 100%; height: ${height};`}></model-viewer>
</div>

<script>
    import "@google/model-viewer";
</script>

<style>
    #model-viewer {
        width: 100%;
        min-height: 400px;
        display: block;
    }
</style>
